h1,
h2,
h3,
h4,
.navbar-header {
    font-family: 'Cambria', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-family: 'Meiryo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
label {
    font-family: 'Franklin Gothic Book', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/*  */
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: lightgray;
}
